/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ROOT CSS */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color: rgba(17, 17, 17, 0.87);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-color: #80B58C;
  --bg-color2: rgb(82, 128, 92);
  --header-color: #515895;
  --header-color2: #353964;

}

/* CUSTOM CSS */

body
{
  width: 100%;
  height: 100%;
}

header
{
  background: var(--header-color);
  position: fixed;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  font-weight: bolder;
}

input[type="text"]
{
  width: 1em;
  background: none;
  border: none;
  border-bottom: black solid 3px;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}

input[type="submit"]
{
  border: var(--header-color);
  background: var(--header-color);
  width: 10%;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px;
  font-size: large;
  font-weight: bold;
}

input[type="submit"]:hover
{
  border: var(--header-color2);
  background: var(--header-color2);
  width: 10%;
  border-radius: 15px;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  
}
footer
{
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  background: var(--header-color);
}

img
{
  width:80%;
  margin: auto;
}
/* CLASSES */
.mobile-hidden
{
  display: none;
}
.tried {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center; 
  color: transparent; 
  text-decoration: line-through; 
}

.disabled {

  pointer-events: none; 
}

/* IDS */

#mobile-timer
{
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:xx-large;
  font-weight: bolder;
  gap: 5px;
}

#warning
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:large;
  font-weight: bold;
  padding-top: 3em;
}

#interface
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#alphabet
{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: x-large;
  font-weight: bolder;
  width: 75%;
  text-align: center;
  padding-bottom: 15px;
}

#guessing-form
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3em;
}

#guessing-inputs
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1em;
  gap: 25px;
}

#guess-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  gap: 10px; 
}

#desktop-button
{
  display: none;
}

#icons-menu
{
  padding-right: 20px;
}

@media screen and (min-width: 600px) 

  {


  img 
  {
    width: 50%;
  }
  .mobile-hidden
  {
    display: block;
  }

  .desktop-hidden
  {
    display: none;
  }

  #mobile-timer
  {
    display: none;
  }
  #desktop-button
  {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }
  #desktop-button a
  {
    border: var(--bg-color);
    background: var(--bg-color);
    cursor: pointer;
    border-radius: 15px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
  } 

  #desktop-button a:hover
  {
    border: var(--bg-color2);
    background: var(--bg-color2);
    cursor: pointer;
    border-radius: 15px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
  } 

  #desktop-timer
  {
    padding-left: 20px;
  }
    
}